!build/
venv/
!log/
!log/client/.gitkeep
/log/client/picoquic_leo/**
!/log/client/picoquic_leo/.gitkeep
!/log/client/picoquic_leo/slogs/.gitkeep
/log/client/picoquic_leo/slogs/**

!/log/client/picoquic_leo/out/.gitkeep
/log/client/picoquic_leo/out/**

!log/server/.gitkeep
!log/server/slogs/.gitkeep
log/server/slogs/**
!log/server/srv/.gitkeep
log/server/srv/data4.bin

/log/tcpdump/**
!log/tcpdump/.gitkeep
openssl-1.1.1w